<div class="drift" id="drift-area"></div>
<div id="view-container" class="box"></div>
<div class="box half-widget left" id="dashboard-issues"></div>
<div class="box half-widget right" id="dashboard-stories"></div>
<script>
	var team = <%= JSON.stringify( team)  %>;

	$(function() {
		Backbone.io.connect();

		window.josieRows = new RunRows();
		window.teamCollection = new TeamCollection();
		window.branchCollection = new BranchCollection();

		// hack to load templates then init page... very gross
		// @todo make this less gross
		$.ajax('/templates/run_view.html').success(function (content){
			$("#template-container").append(content);

			new DriftView({
				el: $("#drift-area"),
				team: team.name,
				collection: branchCollection
			});

			new TeamDashboard({
				el: $("#view-container"),
				branches: team.branches,
				collection: branchCollection,
				limit: 10
			});

			new DashboardIssueView({
				el: $("#dashboard-issues"),
				team: team.name,
				collection: teamCollection
			});

			new DashboardStoryView({
				el: $("#dashboard-stories"),
				team: team.name,
				collection: teamCollection
			});


			josieRows.fetch();
			teamCollection.fetch();
			branchCollection.fetch();
		});

	});
</script>
