<div id="view-container"></div>
<div id="master-view-container">
	<h2>Master</h2>
	<table id="master-view"></table>
</div>

<script>
	var team = <%= JSON.stringify( team)  %>;


	$(function() {
		Backbone.io.connect();

		// hack to load templates then init page... very gross
		// @todo make this less gross
		$.ajax('/templates/run_view.html').success(function (content){
			$("#template-container").append(content);

			var branchCollection = new BranchCollection();

			new TeamView({
				el: $("#view-container"),
				branches: team.branches,
				collection: branchCollection,
				limit: 10
			}).render();


			branchCollection.fetch();


			window.josieRows = new RunRows();
			window.josieRows.fetch();
//			new JosieView({ el: $('#josie-content'), collection: josieRows, branch: "origin/dev/aperture", limit: 10}).render();
			new JosieView({ el: $('#master-view'), collection: josieRows, branch: "origin/master", limit: 5}).render();
		});

//		var branchCollection = new BranchCollection();
//		var branchesView = new BranchesView({ el: $('#josie-branches'), collection: branchCollection  });
	});
</script>
