body {
	background: #222 url('/images/darknoise.png');
	font-family: "Gill Sans", "Trebuchet MS", Calibri, sans-serif;
	font: 13px;
}

h1 {
	color: #333;
	margin-top: 0;
}
h3 {
	margin: 0 0 10px 0;
}

.title .sub-title {
	display: block;
	color: #666;
	margin-left: 1em;
	font-size: 55%;
	font-weight: normal;
}

#layout-container {
	margin: 3em 6em;
	background: #fff;
	border-radius: 5px;
	padding: 20px;
}

.josie-view {
	width: 100%;
	border-collapse: collapse;
	background: #fff;
	border: 1px solid #ddd;
}

.josie-view thead {
	background: #fefefe;
	color: #666;
}
.josie-view thead th,
.josie-view .run td {
	text-align: left;
	padding: 5px 10px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.josie-view .run {
	background: #eee;
}
.josie-view .run:nth-child(odd) {
	background: #fefefe;
}
.josie-view tr.run img.icon {
	background: url('/images/icons/crowned-skull.svg');
	width: 32px;
	height: 32px;
	border: none;
	float: left;
	display: block;
	margin: 3px 9px 3px 0;
}
.josie-view tr.run[data-commit-status="NOT_BUILT"] img.icon {
	background: url('/images/icons/vomiting.svg');
}
.josie-view tr.run.running[data-commit-status="NOT_BUILT"] img.icon {
	background: url('/images/icons/mining.svg');
}
.josie-view tr.run[data-commit-status="FAILURE"] img.icon {
	background: url('/images/icons/backstab.svg');
}
.josie-view tr.run[data-commit-status="SUCCESS"] img.icon {
	background: url('/images/icons/holy-grail.svg');
}
.josie-view tr.run.running[data-build-status='SUCCESS'][data-total-failures='0'] img.icon {
	background: url('/images/icons/sprint.svg');
}
.josie-view tr.run.running img.icon {
	background: url('/images/icons/run.svg');
}

/*.josie-view tr.run[data-commit-status="SUCCESS"] {*/
	/*background: #afa;*/
/*}*/
/*.josie-view .run.running[data-total-failures='0'] {*/
	/*background: #cfc;*/
/*}*/
/*.josie-view .run td.running {*/
	/*background: orange;*/
/*}*/

#josie-filters {
	background: #fdfdfd;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 10px;
	color: #444;
	padding: 10px;
	height: 200px;
	position: relative;
	display: none;
}
.view-options {
	text-align: right;
	margin: 0 10px;
}
.filter-link {
	cursor: pointer;
}
.filter-pane {
	overflow: auto;
	width: 49%;
	display: inline-block;
	position: absolute;
	top: 10px;
	bottom: 10px;
}
.filter-pane.left {
	left: 10px;
}
.filter-pane.right {
	right: 10px;
}
#josie-branches {
	padding: 0 0 0 10px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.title .right {
	text-align: right;
}

.just-updated {
	background: #FEE37C !important;
}


.box {
	border-radius: 6px;
	background: #fff;
	padding: .5em;
	margin-bottom: 1em;
}

#layout-container.dashboard {
	margin: .2em 1em;
	background: none;
	border-radius: 0;
	padding: 0;
}

#layout-container.dashboard h1 {
	color: #fff;
	margin-bottom: .3em;
}

.dashboard {
	font-size: 37px;
}

.dashboard table {
	font-size: inherit;
}

.dashboard th {

	font-size: 22px;
}

.dashboard .josie-view tr.run img.icon {
	width: 42px;
	height: 42px;
}

.drift .branch-drift {
	margin: .2em;
}

[data-branch] .badge {
	position: relative;
}

[data-branch] .badge:after {
	content: "";
	font-size: 18px;
	text-align: center;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	position: absolute;
}


[data-branch*="/dev/"] .badge:after {
	content: "\002666";
	color: #333;
	background: RGB(233, 17, 0);
	box-shadow: 0 0 10px 1px RGBA(166, 0, 2, .5);
}

[data-branch*="/rel/"] .badge:after {
	content: "\002660";
	color: RGB(136, 92, 41);
	background: #FFA923;
	box-shadow: 0 0 10px 1px RGBA(255, 169, 35, .5);
}

.run[data-branch] .badge:after {
	right: 0px;
	bottom: -9px;
}

.meter {
	width: 3em;
	height: .5em;
	border: .05em solid #333;
	margin: .1em;

	overflow: hidden;

	/*background: #45484d; *//* Old browsers */
	/*background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); *//* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); *//* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); *//* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); *//* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); *//* IE10+ */
	/*background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); *//* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); *//* IE6-9 */

	background: #ff4635; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff4635 0%, #b70000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff4635), color-stop(100%,#b70000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff4635 0%,#b70000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff4635 0%,#b70000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff4635 0%,#b70000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff4635 0%,#b70000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4635', endColorstr='#b70000',GradientType=0 ); /* IE6-9 */


}

.meter .filler{
	display: inline-block;
	height: .5em;

	box-shadow: 0 0 10px 0 #ff4635;

	background: #b6e026; /* Old browsers */
	background: -moz-linear-gradient(top,  #b6e026 0%, #226613 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6e026), color-stop(100%,#226613)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b6e026 0%,#226613 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b6e026 0%,#226613 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b6e026 0%,#226613 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b6e026 0%,#226613 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e026', endColorstr='#226613',GradientType=0 ); /* IE6-9 */






}

.data-row {
	margin:.5em;
}

.data-row .value {
	float: right;
}

.data-row .meter {
	float: right;
	height: .75em;
}

.data-row .meter .filler {
	height: .75em;
}

.half-widget {
	display: inline-block;
	width: 46%;
}

.drift {
	position: absolute;
	top: .5em;
	right: 1.5em;
	color: #fff;
}

.drift [data-branch] .badge:after {
	left: -1.2em;
}
/*Overrides*/

.modal{
	width: 80%;
	height: 80%;
	position: relative;
}

.modal .wrapped {
	position: absolute;
	top: 15px;
	bottom: 15px;
	left: 0px;
	right: 0px;
	padding: 0px 30px;
	overflow: auto;
}


/**
 * Team CSS
 */

/* Aperture */
.Aperture {
	background: RGB(72, 70, 69) url('/images/darknoise.png');
	color: #aaa;
}

.Aperture .half-widget {
	display: inline-block;
	width: 46%;
}

.Aperture .box {
	background: RGBA(38, 36, 34, .8);
	padding: 0;
}

.Aperture h1{
	font-size: 0;
}

.Aperture h1 .logo {
	background: url(/images/teams/Aperture.svg);
	width: 439px;
	height: 120px;
}

.Aperture .run {
	background: RGB(41, 41, 41);
}

.Aperture .run {
	background: RGB(34, 34, 34);
}

.Aperture .run:nth-child(odd) {
	background: RGB(41, 41, 41);
}

.Aperture .josie-view .run td {
	text-align: left;
	padding: 5px 10px;
	border-left: 1px solid #333;
	border-bottom: 1px solid #333;
}

.Aperture .josie-view {
	border-radius: 6px;
	background: #333;
	border: 1px solid #333;
}
.Aperture .josie-view thead {
	background: #333;
}

.Aperture .josie-view thead th {
	color: #888;
	border-left: 1px solid #222;
	border-bottom: 1px solid #222;
}

.Aperture .josie-view thead th:first-child {
	border-left: 1px solid #333;
}
