<!-- Templates -->
<script id="message-template" type="text/template">
	<td>
		<a href="/run/<%= buildNumber %>" rel="modal:open"><span class="badge"></span> <img class="icon" src="/images/transparent.png" /></a>
		<%= author %>
	</td>
	<td><%= buildNumber %></td>

	<% for (var i = 0, len = includeSuites.length; i < len; i++ ) { var job = includeSuites[i]; %>

	<td class="<%= job.running ? 'running' : '' %>" data-name="<%= job.projectName %>">
		<%= job.failures %>
	</td>
	<% } %>
</script>

<script id="messages-template" type="text/template">
<thead>
<tr>
<th>Author</th>
<th>run</th>
<% for(var label in jobs) { %>
<th><%= label%></th>
<% }; %>
</th>
</thead>
<tbody class="run-row-container"></tbody>
</script>


<script class="josie-view-container" id="branch-template" type="text/template">
	<h2 class="title">
		<div class="right">
			<span class="sub-title">Unmerged Commits: <span class="num-commits"><%= numCommits %></span></span>
			<span class="sub-title">Files Changed: <span class="files-changed"><%= filesChanged %></span></span>
			<span class="sub-title">Lines changed: <span class="lines-changed"><%= linesChanged %></span></span>
		</div>

		<%= branch.name %>
		<span class="sub-title">Drift <span class="drift"><%= drift %></span></span>
	</h2>
	<table class="table-view"></table>
</script>

<script id="drift-meter-template" type="text/template">
	<span class="badge"></span>
	<div class="meter" title="<%= drift %> / <%= branch.team.driftThreshold %>">
		<span class="filler" style="width: <%= driftPercent %>%"></span>
	</div>
</script>

<script id="dashboard-issue-template" type="text/template">

	<div class="data-row">
		Morale
		<div class="meter">
			<div class="filler" style="width: <%= morale %>%"></div>
		</div>
	</div>

	<div class="data-row">
		Blocking Issues
		<div class="value"><%= blockingIssueCount %></div>
	</div>

	<div class="data-row">
		Issues over 60
		<div class="value"><%= issueOverCount %></div>
	</div>

	<div class="data-row">
		Issues
		<div class="value"><%= issueCount %></div>
	</div>
</script>

<script id="dashboard-story-template" type="text/template">

	<div class="data-row">
		<%= name %>
		<div class="meter">
			<div class="filler" style="width: <%= percentComplete %>%"></div>
		</div>
	</div>

</script>