<h2 class="title">

	<div class="right">
		<span class="sub-title">Total Failing: <%= run.totalFailures %></span>
	</div>

	<%= title %>
	<span class="sub-title">Branch: <%= run.branch %></span>

	<% if(run.changeSet) for(var i=0, len=run.changeSet.length; i < len; i++) { var change = run.changeSet[i]; %>

	<span title="<%= change.comment %>">
		<span class="sub-title">
			<%= change.author %>
			<a href="http://git.ops.ut.us.attask.com/git/?p=attask.git;a=commitdiff;h=<%= change.commitHash %>"><%= change.commitHash.substr(0, 8) %></a></span>
	</span>
	<% } %>

</h2>

<% if(run.jobs) for(var i=0, len=run.jobs.length; i < len; i++){ var job = run.jobs[i]; if(!job.testFailures || job.testFailures.length === 0) continue; %>

<div class="josie-view-container">
	<h3 class="title">
		<%= job.projectName %>
		<span class="sub-title">Total <%= job.failCount %></span>
	</h3>
	<table class="josie-view">
		<thead>
		<tr>
		<th></th>
		<th>Suite</th>
		<th>Test</th>
		</th>
		</thead>
		<tbody class="run-row-container">
		<% for(var fi=0, flen=job.testFailures.length; fi < flen; fi++){ var failure = job.testFailures[fi]; %>

		<tr class="run">
			<td>X</td>
			<td><%= failure.className %></td>
			<td><%= failure.name %></td>
		</tr>
		<% } %>
		</tbody>
	</table>
</div>


<% } %>

